.btn {
  padding: 10px 22px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  &:focus {
    outline: 2px solid $grey5;
  }
  &--rounded {
    border-radius: 3px;
  }
  &--wide {
    padding-left: 32px;
    padding-right: 32px;
  }
  &--wide2x {
    padding-left: 62px;
    padding-right: 62px;
  }
  &--primary {
    color: $dark2;
    background-color: $white;
    border: 1px solid $white;
    &:hover {
      background-color: $primary;
      color: $white;
      border: 1px solid $primary;
    }
  }
  &--lasso {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    &:hover {
      background-color: $white;
      color: $primary;
      border: 1px solid $primary;
    }
  }
  &--lassoOutlined {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;
    &:hover {
      background-color: $primary;
      color: $white;
      border: 1px solid $primary;
    }
  }
  &--disabled {
    color: $grey5;
    background-color: $grey2;
    cursor: not-allowed;
  }
}
